*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
body{
	background-color: white;
}
header{
	background-color: #FFFFFF;}
.page900{
	margin: 0 auto;
	width: 1160px;
	overflow: hidden;
	/* background-color: #DB7093; */
	
}
#logo{
	width: 316px;
	height: 60px;
	/* background-color:pink ; */
	float: left;
	
	
	
}
#logo img{
	padding: 12px 0 10px 0px;
	width: 210px;
	height: 37px;
}
#nav{
	width: 490px;
	/* background-color: #FFFF00; */
	float: left;
	margin-left: 40px;
}
#nav2{
	font-size: 14px;
	padding: 20px 0 0px 0;
	
	
}
#nav2 a{
	text-decoration: none;
	color: red;
}
#nav li{
	width: 98px;
	float: left;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 14px;

	
}
#nav li a{
	display: block;
	text-decoration: none;
	color: #333333;
	margin-right: 1px;
	}
#nav li .shouye{
	background-color: #df001f;
	color: #ffffff;
}
#nav li a:hover{
	color: #ffffff;
	background-color: #df001f;
	
}

#search{
	width: 260px;
	height: 60px;
	/* padding-top: 20px; */
	/* background-color: aquamarine; */
	float: right;
	line-height: 60px;
	
	
}
#search input{
	width: 120px;
	height: 30px;
	padding-left: 20px;
	background-image: url(image/zoom.png);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: 110px center;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	margin-left: 50px;
	font-size: 12px;
}

#banner{
	height: 500px;
	/* width: auto; */
	background-color: #666666;
	background-image: url(image/shouyebanner.png);
	background-repeat: no-repeat;
	background-position: center;
}
#tuijian{
	background-color: #FFFFFF;
}
.text{
	background-color: #FFFFFF;
	text-align: center;
	padding-top: 50px;
}
.text .p1{
	font-size: 12px;
	color: ##999999;
	padding-bottom: 5px;
	
}
.text p{
	font-size: 14px;
	color: #444444;

	
}
.width{
	background-color: #f7f8f9;
}
.chanpin{
	background-color: #FFFFFF;
	overflow: hidden;
	padding-top: 60px;

}
.liebiao{
	/* background-color: #DF001F; */
	width: 278px;
	float: left;
	height: 257px;
	padding-bottom: 50px;
}
.liebiao1{
	margin: 0 12px;
	width: 278px;
	float: left;
	/* background-color: #DF001F; */
	height: 257px;
}
.liebiao .img{
	width: 130px;
	height: 130px;
	border-radius: calc(100%);
	border: 1px solid #707070;
	text-align: center;
	margin:0 65px ;
	
}
.liebiao1 .img{
	width: 130px;
	height: 130px;
	border-radius: calc(100%);
	border: 1px solid #707070;
	text-align: center;
	margin:0 65px ;
	
}
.liebiao img{
	/* background-color: yellow; */
	padding-top: 30px;
}
.liebiao1 img{
	/* background-color: yellow; */
	padding-top: 30px;
}
.liebiao span{
	text-align: center;
	/* background-color: magenta; */
	display: block;
	margin-top: 20px;
	font-size: 14px;
}
.liebiao p{
	/* background-color: #333333; */
	font-size: 13px;
	margin-top: 30px;
	color: #CCCCCC;
}
.liebiao1 span{
	text-align: center;
	/* background-color: magenta; */
	display: block;
	margin-top: 20px;
	font-size: 14px;
}
.liebiao1 p{
	/* background-color: #333333; */
	font-size: 13px;
	margin-top: 30px;
	color: #CCCCCC;
}
#pinpai{
	background-color: #f7f8f9;
}
.wenben{
	/* background-color: yellow; */
	overflow: hidden;
	padding-top: 60px;
}
.wenben .wenben1{
	/* background-color: palegreen; */
	width: 572px;
	float: left;
	color: #CCCCCC;
	line-height: 20px;
	font-size: 14px;
}
.wenben2{
	margin-left: 16px;
}
.tupian{
	/* background-color: #CCCCCC; */
	overflow: hidden;
}
.tupian li{
	/* background-color: aqua; */
	width: 376px;
	float: left;
	margin-top: 50px;
	padding-bottom: 60px;
	
	
}
.tupian1{
	margin: 0 16px;
}
#xinwen{
	/* background-color: #98FB98; */
	overflow: hidden;
	
	
}
.left{
	/* background-color: #CCCCCC; */
	width: 572px;
	float: left;
	padding-top: 60px;
	padding-bottom: 50px;
}
.datu img{
	width: 572px;
	display: block;
}
.datutext{
	background-color: #F4F4F4;
	width: 572px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 14px;

}
#xiabian{
	/* background-color:palevioletred ; */
	width: 1160px;
	height: 600px;
}
.right{
	/* background-color: red; */
	width: 572px;
	float: left;
	padding-top: 60px;
	padding-bottom: 50px;
}
.right_liste{
	/* background-color: #98FB98; */
	

}

.right_liste li{
	/* background-color: black; */
	width: 572px;
	overflow: hidden;
	width: 572px;
	float: left;
	height: 155px;
	margin-left: 16px;
	
	
}
.tu{
	width: 180px;
	height: 120px;
	float: left;
}
.new_text{
	width: 376px;
	/* background-color: aqua; */
	float: left;
	margin-left: 15px;
}
.new_text p{
	margin-top: 18px;
	font-size: 14px;
	color: #CCCCCC;
}
.new_text span{
	font-size: 10px;
	color:#CCCCCC ;
	margin-top: 30px;
	display:inline-block;
	margin-right: 20px;
	
}
.new_text .shijian{
	/* background-color: #DF001F; */
	margin-left: 138px;
	margin-right: 0;
}
/* .border{
	background-color: yellow;
	height: 164px;
} */
hr{
	border: 1px solid black;
}
	
#hezuo{
	background-color: #f7f8f9;
}
.waitao{
	width: 900px;
	/* background-color: #CCCCCC; */
	
}
.more{
	padding-top:60px;
	/* background-color: red; */
	overflow: hidden;
	width: 1175px;
	padding-bottom: 50px;
	
	
}
.more li{
	width: 278px;
	height: 125px;
	float: left;
	/* background-color: yellow; */
	margin-right: 15px;

}

.contact img{
	/* background-color:red ; */
	width: 220px;
	
}		
#footer{
	background-color: #333;
	padding-top: 80px;
	margin-top: 40px;
}

.sitemap{
	/* background-color: #df001f; */
	overflow: hidden;
}
.copyright{
	/* background-color: magenta; */
	padding: 80px 0 0 0;
	color: #f4f4f4;
}
.copyright p{
	text-align: center;
	font-size: 10px;
	
}
.contact{
	/* background-color: green; */
	width: 376px;
	float: left;
	overflow: hidden;
	
}
#footer h3{
	
	font-size: 13px;
	/* background-color: #CCCCCC; */
	padding-bottom: 10px;
	color: #f4f4f4;
}
#footer li{
	font-size: 12px;
	
	
	
}	
#footer .fmenu li{
	/* text-align: right; */
}
#footer .fmenu h3{
	/* text-align: right; */
}
#footer li a{
	text-decoration: none;
	/* text-align: right; */
	color: #666666;
	/* background-color: #666666; */
	
}
.footer_menu{
	/* background-color: pink; */
	
	width: 784px;
	float: left;
}
.fmenu{
	overflow: hidden;
	width: 784px;
	/* background-color: red; */
	/* padding-left: 80px; */
}
.fmenu-lete{
	width: 130px;
	float: left;
	}
.shejiao{
	margin-top: 30px;
	/* padding-left: 80px */
}
.shejiao ul{
	overflow: hidden;
	
	
}
.shejiao ul li{
	width: 60px;
	/* background-color: white; */
	float: left;

}

.shejiao ul li img{
	width: 40px;
	height: 40px;
}
.jituantext{
	margin-top: 30px;
	color:#666666 ;
}
#footer li a:hover{
	color: #f4f4f4;
	}